
---
title: A page for You
layout: base.njk
---



<div class="container>
<h1>This is a page for me</h1>
<div class="vibe">You are great!</div>
<div class="love">
💖
</div>


<ul>
{% for articles in news.articles %}
<li>
  <h3><a href="{{ articles.url }}">{{ articles.title}}</a></h3>
  <span>{{ articles.source.name }} - <time>{{ articles.publishedAt }}</time></span>
</li>
{% endfor %}
</ul>

<script src="js/vibe.js"></script>
